# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/Browse.VC.opendb
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/Browse.VC.db
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/.suo
