# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/Browse.VC.opendb
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/Browse.VC.db
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/.suo
/Milestone 4/Milestone 4/Milestone 4/x64/Debug/vc142.pdb
/Milestone 4/Milestone 4/Milestone 4/x64/Debug/vc142.idb
/Milestone 4/Milestone 4/Milestone 4/Debug/vc141.pdb
/Milestone 4/Milestone 4/Milestone 4/Debug/vc141.idb
/Milestone 4/Milestone 4/Milestone 4/Debug/Milestone 4.tlog/Milestone 4.lastbuildstate
/Milestone 4/Milestone 4/Milestone 4/Debug/Milestone 4.tlog/link.write.1.tlog
/Milestone 4/Milestone 4/Milestone 4/Debug/Milestone 4.tlog/link.read.1.tlog
/Milestone 4/Milestone 4/Milestone 4/Debug/Milestone 4.tlog/link.command.1.tlog
/Milestone 4/Milestone 4/Milestone 4/Debug/Milestone 4.tlog/CL.write.1.tlog
/Milestone 4/Milestone 4/Milestone 4/Debug/Milestone 4.tlog/CL.read.1.tlog
/Milestone 4/Milestone 4/Milestone 4/Debug/Milestone 4.tlog/CL.command.1.tlog
/Milestone 4/Milestone 4/Debug/Milestone 4.pdb
/Milestone 4/Milestone 4/Debug/Milestone 4.ilk
/Milestone 4/Milestone 4/Milestone 4/Release/vc141.pdb
/Milestone 4/Milestone 4/Milestone 4/Release/Milestone 4.tlog/Milestone 4.write.1u.tlog
/Milestone 4/Milestone 4/Milestone 4/Release/Milestone 4.tlog/Milestone 4.lastbuildstate
/Milestone 4/Milestone 4/Milestone 4/Release/Milestone 4.tlog/link.write.1.tlog
/Milestone 4/Milestone 4/Milestone 4/Release/Milestone 4.tlog/link.read.1.tlog
/Milestone 4/Milestone 4/Milestone 4/Release/Milestone 4.tlog/link.command.1.tlog
/Milestone 4/Milestone 4/Milestone 4/Release/Milestone 4.tlog/CL.write.1.tlog
/Milestone 4/Milestone 4/Milestone 4/Release/Milestone 4.tlog/CL.read.1.tlog
/Milestone 4/Milestone 4/Milestone 4/Release/Milestone 4.tlog/CL.command.1.tlog
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/ipch/AutoPCH/ea8f266ebb285efb/PHYSICSMANAGER.ipch
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/ipch/AutoPCH/abee9708184ead30/DYNAMICAABBTREE.ipch
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/ipch/AutoPCH/799772d7ba51cc1b/PHYSICSMANAGER.ipch
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/ipch/AutoPCH/70ba358c2c6d87d6/COLLISIONMANAGER.ipch
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/ipch/AutoPCH/2bd83582cecc7236/COLLISIONMANAGER.ipch
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/ipch/AutoPCH/115c860e5234f90d/SAT.ipch
/Milestone 4/Milestone 4/Release
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/ipch/AutoPCH/9b079c583123e5e2/BODY.ipch
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/ipch/AutoPCH/884f7047df320579/MAIN.ipch
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/ipch/AutoPCH/799e3ec168cbc2d/SAT.ipch
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/ipch/AutoPCH/7fede735e4f02115/OBJECTFACTORY.ipch
/Milestone 4/Milestone 4/.vs/Milestone 4/v16/ipch/AutoPCH/a80484306067756f/GAME OBJECT.ipch
